<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">

<head>
    <title>Rent Car</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Impel">
    <meta name="keywords" content="">
    <meta name="author" content="hsoft">
    <meta name="MobileOptimized" content="320">
    <!--Srart Style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Front/css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Front/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets//Front/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Front/css/style.min.css') }}">
    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" href="{{ asset('assets/Front/images/favicon.png') }}">
</head>

<body>
<!------ Header Start ------>
<div class="impl_header_wrapper">
    <div class="impl_logo">
        <a href="{{ path('homepage') }}"><img src="{{ asset('assets/Front/images/logo.png') }}" alt="Logo" class="img-fluid"></a>
    </div>
    <div class="impl_top_header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="impl_top_info">
                        <ul class="impl_header_social">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <p class="impl_header_time"><i class="fa fa-clock-o" aria-hidden="true"></i> Working Hours - 6 AM To 8 PM <span>sunday closed</span></p>
                        <ul class="impl_header_icons">

                            <li>
                                <a href="{{ path('fos_user_security_login') }}">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                            <li><a href="{{ 'fos_user_registration_register' }}" data-toggle="modal"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="impl_search_overlay">
                            <div class="impl_search_area">
                                <div class="srch_inner">
                                    <form action="#">
                                        <input type="text" placeholder="Search here... ">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                    <div class="srch_close_btn">
                                        <span class="srch_close_btn_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--menu start-->
    <div class="impl_menu_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <button class="impl_menu_btn">
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="impl_menu_inner">
                        <div class="impl_logo_responsive">
                            <a href="#"><img src="{{ asset('assets/Front/images/logo1.png') }}" alt="Logo" class="img-fluid"></a>
                        </div>
                        <div class="impl_menu">
                            <nav>
                                <div class="menu_cross">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                                <ul>
                                    <li class="dropdown"><a href="{{ path('homepage') }}">home</a>

                                    </li>
                                    <li><a href="#">Company</a></li>
                                    <li class="dropdown"><a href="#">Purchase car</a>

                                    </li>

                                    <li><a href="{{ path('contact') }}"  class="active">Contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------ Breadcrumbs Start ------>
<div class="impl_bread_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>contact</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="breadcrumb-item active">contact</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!------ Contact Wrapper Start ------>
<div class="impl_contact_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 offset-lg-1">
                <div class="impl_con_form">
                    <div class="contact_map">
                        <div id="contact_map"></div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <h1>get in touch</h1>
                    </div>
                    {{ form_start(form) }}
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.subject) }}
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.message) }}
                            </div>
                        </div>
                        <div class="response"></div>
                        <div class="col-lg-12 col-md-12">
                            <input type="hidden" name="form_type" value="contact">
                            <button type="submit" class="impl_btn submitForm">Envoyer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="impl_contact_info">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="impl_contact_box">
                                <div class="impl_con_data">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <h2>phone</h2>
                                    <p>+216-26-053-091</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="impl_contact_box">
                                <div class="impl_con_data">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <h2>address</h2>
                                    <p>514 S. Ghazela St.<br>Ariana , TUN</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="impl_contact_box">
                                <div class="impl_con_data">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <h2>E - mail</h2>
                                    <p><a href="mailto:contct@gmail.com">contct@gmail.com</a></p>
                                    <p><a href="#">Habib.aroua@sesame.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------ Footer Section Start ------>
<div class="impl_footer_wrapper">
    <div class="impl_social_wrapper">
        <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="impl_foo_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="impl_foo_box footer_abt_text">
                        <a href="#"><img src="{{ asset('assets/Front/images/logo.png') }}" alt=""></a>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable by injected humour.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="impl_foo_box">
                        <h1 class="impl_foo_title">Basic Information</h1>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Changing Oil</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Saving Fuel</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Antilock Brakes</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Battery</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Tips On Long Car Trips</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Air Pressure</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Tire Replacement</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="impl_foo_box">
                        <h1 class="impl_foo_title">contact us</h1>
                        <ul>
                            <li>
                                <div class="impl_foo_icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                <div class="impl_foo_text">
                                    <p>+216-26-555-0137</p>
                                </div>
                            </li>
                            <li>
                                <div class="impl_foo_icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                <div class="impl_foo_text">
                                    <p>514 S. Ghazela St. <br> Ariana , TUN</p>
                                </div>
                            </li>
                            <li>
                                <div class="impl_foo_icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                <div class="impl_foo_text">
                                    <a href="#">contact@gmail.com</a>
                                    <a href="#">habib.aroua@sesame.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="impl_foo_box">
                        <h1 class="impl_foo_title">Subscribe </h1>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                        <div class="impl_footer_subs">
                            <input type="text" class="form-control" placeholder="Enter Your Email">
                            <button class="foo_subs_btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----Bottom Footer Start---->
<div class="impl_btm_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p class="impl_copyright">Copyright &copy; 2018 Rent-car. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
<!---- Go To Top---->
<span class="gotop"><img src="images/goto.png" alt=""></span>
<!--Main js file Style-->
<script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/popper.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/Front/js/bootstrap.min.js') }}"></script>

<!--Main js file End-->
<!--map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNdePPJKYq0ptBV_AFi_4RnmUtMa1ZLFg&amp;libraries=places">
</script>
<script>
    $(document).ready(function() {
        var myCenter = new google.maps.LatLng(51.508530, -0.076132);

        function initialize() {
            var mapProp = {
                center: myCenter,
                zoom: 8,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("contact_map"), mapProp);
            var icon = {
                url: 'images/map_pin.png'
            };
            var marker = new google.maps.Marker({
                position: myCenter,
                map: map,
                title: 'Impel Car Dealer Template',
                icon: icon
            });
            marker.setMap(map);
            var infowindow = new google.maps.InfoWindow({
                content: "<span> Impel Car Dealer Template </span>"
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    });
</script>
</body>


<!-- Mirrored from kamleshyadav.in/html/impel/template/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Jan 2019 21:44:45 GMT -->
</html>